---
layout: page
title: "GDG"
description: "¿Quieres saber mas acerca del GDG Android Bolivia?"
header-img: "img/bg-acercade.jpg"
---
<center>
	<h1>
		Acerca del GDG Android Bolivia
	</h1>	
</center>
<br/>
<span class="subheading">
	<h4 class="text-body">
	Bienvenidos a la página oficial del <b>Google Developer Group Android Bolivia</b> (<b>GDG Android Bolivia</b>), el cual es un grupo enfocado en tecnologías <b>Android</b> y todo lo relacionado a ella.<br/><br/>

	La Comunidad Android Bolivia nació el año <b>2011</b> como una comunidad de estudiantes apasionados por esta plataforma y que ahora se convierte en un capítulo oficial <b>GDG</b> a partir del año <b>2016</b>.<br/><br/>
	
	Tenemos eventos anuales, tal es el caso del <b>Android Camp</b> (tres días), el cual esta dirigido a reunir a todos los desarrolladores en la plataforma Android de toda Bolivia. También tenemos el <b>Android Day</b> (un día) que realiza la unión de usuarios y desarrolladores, en un solo lugar para compartir experiencias. </br>Así mismo tenemos los <b>"Android Talks"</b> como <b>"Android Labs"</b> (una ves por semana) y el curso <b>"Study Jam"</b> que lo impartimos dos veces al año a personas que inician en esta plataforma (o de acuerdo a nivel que se decida para esa gestión)<br/><br/>
	En nuestros eventos vemos distintos temas de interés general como: <br/><br/>
	<ul>
		<li>
			Desarrollo de aplicaciones Android en distintos niveles.
		</li>
		<li>
			Integración con distintas APIs de Google.
		</li>
		<li>
			Manejo de distintas arquitecturas.
		</li>
		<li>
			Desarrollo en lenguajes como Kotlin.
		</li>
		<li>
			Desarrollo de juegos en distintas plataformas.
		</li>
		<li>
			Aplicaciones VR y AR.
		</li>
		<li>
			Integración con dispositivos externos (IoT).
		</li>
		<li>
			ROMs y muchas herramientas para usuarios.
		</li>
		<li>
			Capacitación a usuarios en general de aplicaciones indispensables.
		</li>
		<li>
			Y muchos otros temas.
		</li>	
	</ul>
	<br/>El <b>GDG Android Bolivia</b> esta abierto a desarrolladores, diseñadores, profesionales, estudiantes y toda persona interesada en la plataforma Android; los invitamos a ser parte del mismo para crecer en conocimiento, crecer como personas, como profesionales y como innovadores en nuestro país <b>Bolivia</b>.<br/><br/>
	</h4>
	<h2>El Equipo</h2>
	<h4 class="text-body">El equipo de la gestión <b>2017</b> esta conformado por personas apasionadas por esta tecnologia que ponen mucho esfuerzo, tiempo y constancia en todas las actividades que realizamos:</h4></br>

	<center>
		<div class="row" style="width: 100%">
			{% for equipo in site.data.equipo %}
				<div class="col-sm-4">
					<div class="img-profile-effect">
						<center>
							<img class="image-member" src="{{ equipo.member-profile }}"/>
							<h3 class="profile-title">{{ equipo.member-name }}</h3>
							<h4 class="profile-subtitle">{{ equipo.member-job }}</h4>
							<div style="display: table; table-layout: fixed; width: 100%; margin-bottom: 20px">
								{% if equipo.social-fb %}
								<div style="display: table-cell;">
									<a href="https://www.facebook.com/{{ equipo.social-fb }}" target="_blank">
		                            	<span class="fa-stack btn-xs small">
		                                 	<i class="fa fa-circle fa-stack-2x"></i>
		                                   	<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
		                               	</span>
		                           	</a>
								</div>
								{% endif %}
								{% if equipo.social-tw %}
								<div style="display: table-cell;">
									<a href="https://www.twitter.com/{{ equipo.social-tw }}" target="_blank">
		                            	<span class="fa-stack btn-xs small">
		                                	<i class="fa fa-circle fa-stack-2x"></i>
		                                   	<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
		                              	</span>
		                          	</a>
								</div>
								{% endif %}
								{% if equipo.social-gp %}
								<div style="display: table-cell;" align="center">
									<a href="https://www.plus.google.com/+{{ equipo.social-gp }}" target="_blank">
		                            	<span class="fa-stack btn-xs small">
		                               		<i class="fa fa-circle fa-stack-2x"></i>
		                                  	<i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
		                              	</span>
		                          	</a>
								</div>
								{% endif %}
								{% if equipo.social-gh %}
								<div style="display: table-cell;">
									<a href="https://www.github.com/{{ equipo.social-gh }}" target="_blank">
		                              	<span class="fa-stack btn-xs small">
		                                 	<i class="fa fa-circle fa-stack-2x"></i>
		                                  	<i class="fa fa-github fa-stack-1x fa-inverse"></i>
		                              	</span>
		                          	</a>
								</div>
								{% endif %}
								{% if equipo.social-yt %}
								<div style="display: table-cell;">
									<a href="https://www.youtube.com/{{ equipo.social-yt }}" target="_blank">
		                          		<span class="fa-stack btn-xs small">
		                                 	<i class="fa fa-circle fa-stack-2x"></i>
		                                  	<i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
		                             	</span>
		                         	</a>
								</div>
								{% endif %}
								{% if equipo.social-ws %}
								<div style="display: table-cell;">
									<a href="http://{{ equipo.social-ws }}" target="_blank">
		                          		<span class="fa-stack btn-xs small">
		                                 	<i class="fa fa-circle fa-stack-2x"></i>
		                                  	<i class="fa fa-code fa-stack-1x fa-inverse"></i>
		                             	</span>
		                         	</a>
								</div>
								{% endif %}
								{% if equipo.social-gm %}
								<div style="display: table-cell;">
									<a href="mailto:{{ equipo.social-gm }}">
		                          		<span class="fa-stack btn-xs small">
		                                 	<i class="fa fa-circle fa-stack-2x"></i>
		                                  	<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
		                             	</span>
		                         	</a>
								</div>
								{% endif %}
							</div>
						</center>
					</div>
				</div>
			{% endfor %}
		</div>
	</center>
</span>
