---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}{{ page.header-img }}'); opacity: 1">
    <div class="container" style="background-color: #000; width: 100%; opacity: 0.8">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <div align="center">
                        <img src="{{ site.baseurl }}/{{ site.avatar-logo }}" width="200px"/>
                        <!--{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}-->
                    </div>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<hr>
