---
layout: default
comments: true
---
<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.description %}
                    <h2 class="subheading">{{ page.description }}</h2>
                    {% endif %}
                    <div align="right" style="width: 100%;">
            <div style="width: auto; height: auto; float: right; margin-top: 2px">
                <img class="image-member-index" src="{{ page.author_pic }}"/>
            </div>
            <div style="float: right; text-align: center; vertical-align: middle; margin-right: 5px">
                <h5 class="text-post-index">
                            {% assign m = page.date | date: "%-m" %}
                            {{ page.date | date: "%-d" }}
                            {% case m %}
                              {% when '1' %}Enero
                              {% when '2' %}Febrero
                              {% when '3' %}Marzo
                              {% when '4' %}Abril
                              {% when '5' %}Mayo
                              {% when '6' %}Junio
                              {% when '7' %}Julio
                              {% when '8' %}Agosto
                              {% when '9' %}Septiembre
                              {% when '10' %}Octubre
                              {% when '11' %}Noviembre
                              {% when '12' %}Diciembre
                            {% endcase %}
                            {{ page.date | date: "%Y" }}
                            <font size="2em"><b>&middot </b></font><b>{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %}  </b> 
                </h5>
            </div>
            <div style="display: block; margin-left: auto; margin-right: auto"></div>
            <div style="clear: both"></div>
        </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h4 class="text-body">
				    {{ content }}
                </h4>
                </br>
                <hr>
                <center>
                    <img class="image-member" src="{{ page.author_pic }}"/>
                </center>
                <h3 class="profile-title">{{ page.author }}</h3>
                <h4 class="profile-subtitle">{{ page.bio }}</h4>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        {% if page.fb_user %}
                        <li>
                            <a href="https://www.facebook.com/{{ page.fb_user }}" target="_blank">
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if page.tw_user %}
                        <li>
                            <a href="https://twitter.com/{{ page.tw_user }}" target="_blank">
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if page.gp_user %}
                        <li>
                            <a href="https://plus.google.com/+{{ page.gp_user }}" target="_blank">
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if page.gh_user %}
                        <li>
                            <a href="https://github.com/{{ page.gh_user }}" target="_blank">
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if page.yt_user %}
                        <li>
                            <a href="https://youtube.com/{{ page.yt_user }}" target="_blank">
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if page.ws_user %}
                        <li>
                            <a href="http://{{ page.ws_user }}" target="_blank">
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if page.email %}
                        <li>
                            <a href="mailto:{{ page.email }}">
                                <span class="fa-stack fa-sm">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div></br></br><hr>


                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Anterior</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Siguiente &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
                </br> </br>
                <div id="disqus_thread"></div></br></br>
                    <script>
                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = '//https-gdgandroidbolivia-github-io-1.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();
                    </script>
                    <noscript>Por favor habilite Javascript para ver <a href="https://disqus.com/?ref_noscript">comentarios powered by Disqus.</a></noscript>
            </div>
        </div>
    </div>
</article>

